#main-content {
    background: $surface;
    padding: 1;
}

#main-content Static {
    background: transparent;
}

#sidebar {
    dock: left;
    width: 20;
    height: 100%;
    color: white;
    background: #FF8200;
    align: center top;
}

.sidebar-title {
    text-style: bold;
    padding: 1;
    color: black;
}

.feed {
    height: 3;
    background: black;
    width: 100%;
    color: #FF8200;
}

#feed-content {
    padding: 1;
}